
.midiFile {
    border: 1px darkslategrey solid;
    padding: 1em;
    background-color: whitesmoke;
    margin-bottom: 0.9em;
  }
  .midiFile Div{
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }